<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611983257420-ht1hvocii447tr6e3j6df05b0j4lahp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611983257420-ht1hvocii447tr6e3j6df05b0j4lahp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611983257420-9h2ep5didaqkaqmes237l8kg9552utro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxOwCJXf823knZMNV2AaSVQ3lxKh9KFfc</string>
	<key>GCM_SENDER_ID</key>
	<string>611983257420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.apptest</string>
	<key>PROJECT_ID</key>
	<string>apptest1-29fd1</string>
	<key>STORAGE_BUCKET</key>
	<string>apptest1-29fd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611983257420:ios:d18de87123ad39f4c2a9e9</string>
</dict>
</plist>